%h1 (back to the) Drawing board
%h4 Where a user can see their feeds and messages.

%h3='All subscriptions'
- @feeds.each do |feed|
  = feed.title


  = link_to 'Unsubscribe', "/feeds/#{feed.id}/subscriptions", method: :delete

  %br

%h3.right=link_to 'Inbox (messages list)', messages_path
/ =render "messages/conversation"
%h3.right='Tweets'
