%h1.title (back to the) Drawing board
%h4 Where a user can see their feeds and messages.

.nav-left
  %h3='All subscriptions'
  %ul
    - @feeds.each do |feed|
      %li= feed.title
      = link_to 'Unsubscribe', "/feeds/#{feed.id}/subscriptions", method: :delete
.container
  %h1 Some image
  %br
.nav-right
  %h3=link_to 'Inbox (messages list)', messages_path
  / =render "messages/conversation"
  %h3='Tweets'
