// VARIABLES AND MIXINS

$family    : 'Cabin Sketch', 'Arial', 'Helvetica', sans-serif;
$big-family: 'Londrina Sketch', 'Arial', cursive;
$small-font: 'Alegreya Sans SC', sans-serif;
$primary   : #00D6DD;
$secondary : #D4FF00;
$grey_dark : #303233;
$grey_mid  : #66757F;
$grey_light: #ABC4CA;
$yellow    : #ffff33;

/* This is telling the browser to calculate everything from the border inwards; not the content outwards. Previously, adding padding would increase the width & height of your containers by the amount of padding and break your layout */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.1em;
  // background-color: #fffe99;
  a:hover {background-color: transparent;}
  a:active {background-color: transparent;}
}

/**********
* Column stuff from http://css-tricks.com/dont-overthink-it-grids/  *
**********/

 // * { @include box-sizing(border-box); }

$pad: 20px;

body {
  background-color: inherit;
  width: 1350px;
  height: 100%;
}
.grid {
  margin: 0;
  width: 100%;
  padding: 0 10px;
  padding: 0.4em auto;
  &:after {
  /* or @extend clearfix */
  content: "";
  display: table;
  clear: both;
  }
  [class*='col-'] {
    float: left;
    padding-right: $pad;
    }
// nav.nav-top
  .col-100 {
    width: 100%;
    background: $yellow;
     ul {
      width: 100%;
      background-color: pink;
      list-style-type: none;
      display: inline-block;
      line-height: 2em;
      // vertical-align: middle;
        li {
          font-family: $small-font;
          display: inline;
          background-color: #ccc;
          color: yellow;
          margin: 0.5em; /*space between li items */
          padding: 8px; /* more space around each li item */
          }
        }
      }

    .col-70 {width: 70%;}
    .col-30 {width: 30%;

        li {
          font-family: $small-font;
          display: inline;
          background-color: #ccc;
          color: yellow;
          margin: 0.5em; /*space between li items */
          padding: 8px; /* more space around each li item */

      }}
// .nav-left
    .col-22 {
      width: 22%;
      min-width: 18em;
      background: #ffee66;
      overflow: scroll;
      padding: 0.625rem; /* keeps text off the left side of the screen */
        ul li {
          font-family: $small-font;
        }
    }
//   .container
    .col-58 {
      width: 58%;
      min-width: 54em;
      max-width: 100%;
      min-height: 30em;
      border: black dashed 1px;
      background: #ccc;
      overflow: auto;
    }
//   .nav-right
    .col-20 {
      width: 20%;
      min-width: 16em;
      max-width: 100%;
      background: #ff99cc;
      height: 80%;
//     padding: 0.625rem;
//     overflow: scroll;
//     line-height: 2.2em;
    }
  }

  h1 {
    font-family: $family;
    // font-size: 2.8em;
    }
  h2 {
    font-family: $family;
    font-size: 2.2em;
    line-height: 1em;
  }
  h3 {
    font-family: $family;
    font-size: 1.8em;
    line-height: 1em;
  }
  h4 {
    font-family: $family;
    font-size: 1.4em;
    line-height: 1em;
  }

  .comic {
    font-family: $family;
    font-size: 1.5em;
    line-height: 1.4em;
  }
  .heading {
    font-family: $big-family;
    font-size: 5.5em;
    // line-height: 0.5em;
    font-weight: bold;
    display: inline-block;
    padding: 0 2em 0 0;
    a {
      color: black;
      &:hover {
        color: blue;
      }
    }
  }
  .searchbox {
    display: inline-block;
    float: right;
     input{
      color: $yellow;
      font-size: 1.6em;
      font-family: $small-font;
      padding: 0.2em; /* padding of text within box */
      border: none;
      border-radius:2px;
    }
      input#query {
        color: $grey_light;
        background-color: $yellow;
        border: 1px solid $grey_light;
      }
  }
  a {
    text-decoration: none;
    color: $grey_dark;
  }

/***************
* MEDIA QUERIES *
****************/


 /* Desktops and laptops ----------- */
@media only screen and (max-width : 700px) {
  body {

  }
  .col-22 {
    width: 100%;
  }

  .col-58 {
    width: 100%;
    }
  .col-20 {
    width: 100%;
  }
}
/* for mobile */
/* remember to change max-width to max-device-width */
@media only screen and (min-width : 320px)
and (max-width : 480px)
and (orientation : portrait) {
    body {

    }
    .nav_left{

    }
    .nav_right {

    }
    .container {

    }
  }


/*************
* SLIDESHOW *
*************/
.slider {
  margin: 10px 0;
  width: 500px; /* width of slideshow */
  height: 380px; /* height of slideshow */
  position: relative; /* The element is positioned relative to its normal position */
  overflow: hidden;
  img {
    width: 480px;
    height: 350px;
  }
}
.slider li {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/**********
* LAYOUT *
**********/

/*This is cool, using pseudo element: */
/*.container:before {
  content: 'rofl';
  display: block;
  width: 50px;
  height: 50px;
  background: green;
}*/

/*a:hover,
a:focus {
  color: pink;  see how when you tab onto a link it goes this color
}*/


/**********
* HACKS *
**********/
// Not sure if this is relevant still
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
 }

