// VARIABLES AND MIXINS

$family    : 'Cabin Sketch', 'Arial', 'Helvetica', sans-serif;
$primary   : #00D6DD;
$secondary : #D4FF00;
$grey_dark : #303233;
$grey_mid  : #66757F;
$grey_light: #ABC4CA;
$yellow    : #ffff33;

/* This is telling the browser to calculate everything from the border inwards; not the content outwards. Previously, adding padding would increase the width & height of your containers by the amount of padding and break your layout */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.1em;
  // background-color: #dde;
}


body {
  // background-color: inherit;
  width: 1350px;
  height: 99%;
  .nav.nav-top {
    background: red;
    width: 100%;
    display: inline-block;
    height: auto;
    top: 0.5em;
    padding: 1em 1.5em;
    background-color: red;
    padding: 0.4em;
    // margin-left: 20%;
     ul {
      background-color: pink;
      list-style-type: none;
      display: inline-block;
      line-height: 2em;
      width: auto;
      display: table-cell;
    vertical-align: middle;
      height: 40px;
      margin: 0;
      padding: 0;
        li {
          display: inline;
          line-height: 1.8em;
          // padding: 2px;
          margin: 0.5em;
          border: 1pz solid #000;
          background-color: #ccc;
          // text-align: center;
          color: yellow;
          }
      }
    }
  .nav-left {
    background: #ffee66;
    // float: left;
    height: 70%;
    width: 22%;
    left: 1em;
    top: 7em;
    padding: 0.625rem;
    display: inline-block;
    overflow: scroll;
  }
  .container {
    // position: relative;
    top: 14em;
    // bottom: 3em;
    left: 23%;
    right: 21%;
    display: inline-block;
    width: 55%;
    height: 22em;
    border: black dashed 2px;
    background: #ccc;
    // max-width: 1300px;
    // min-width: 600px;
    // height: 600px;
    overflow: auto;
  }
  .nav-right {
    background: #ff99cc;
    // float: right;
    display: inline-block;
    position: absolute;
    min-height: 30em;
    width: 20%;
    padding: 0.625rem;
    top: 7em;
    right: 1em;
    overflow: scroll;
    line-height: 2.2em;
  }
  .title {
    width: 100%;
    height: auto;
    background-color: pink;
  }
}


  h1 {
    font-family: $family;
    font-size: 2.8em;
    }
  h2 {
    font-family: $family;
    font-size: 2.2em;
    line-height: 2.2em;
  }
  h3 {
    font-family: $family;
    font-size: 1.8em;
  }
  h4 {
    font-family: $family;
    font-size: 1.4em;
  }

  .comic {
    font-family: $family;
    font-size: 1.5em;
    line-height: 1.4em;
  }
  a {
    text-decoration: none;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

/*************
* SLIDESHOW *
*************/
.slider {
  margin: 10px 0;
  width: 500px; /* width of slideshow */
  height: 380px; /* height of slideshow */
  position: relative; /* The element is positioned relative to its normal position */
  overflow: hidden;
  img {
    width: 480px;
    height: 350px;
  }
}
.slider li {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/**********
* LAYOUT *
**********/




// .content {
//   background: white;
//   padding: 0.625em;
//   height: 20em;
//   width: 40em;
//   margin: auto;
// }
// .content div.btn-left a{
//   float: left;
//   left: -3em;
//   top: 5em;
//   position: relative;
//   text-decoration: none;
//   font-size: 2em;
//   color: cyan;
// }
// .content div.btn-right a{
//   float: right;
//   right: -3em;
//   top: 5em;
//   position: relative;
//   text-decoration: none;
//   font-size: 2em;
//   color: cyan;
// }

// footer {
//   clear: both;
//   position: fixed;
//   bottom: 0.5em;
//   left: 2em;
//   height: 2em;
//   width: 90%;
//   background-color: #def345;
//   border: 1px solid gray;
// }

/*This is cool, using pseudo element: */
/*.container:before {
  content: 'rofl';
  display: block;
  width: 50px;
  height: 50px;
  background: green;
}*/

/*a:hover,
a:focus {
  color: pink;  see how when you tab onto a link it goes this color
}*/


/**********
* HACKS *
**********/
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
 }


/**********
* Column stuff from http://css-tricks.com/dont-overthink-it-grids/  *
**********/

//  * { @include box-sizing(border-box); }

// $pad: 20px;
// .grid {
// background: green;
// margin 0 0 $pad 0;

// &:after {
//   /* or @extend clearfix */
//   content: "";
//   display: table;
//   clear: both;
//   }
// }
// [class*='col-'] {
//   float: left;
//   padding-right: $pad;
//   .grid &:last-of-type {
//   padding-right: 0;
//   }
// .col-22 {
//   width: 22%;
// }
// .col-58 {
//   width: 58%;
// }
// .col-20 {
//   width: 20%;
// }
// .col-100 {
//   width: 100%;
// }